{{page-title 'Artists'}}

<GeneralContainer>

  <div class='artists'>

    {{#each @model as |artist|}}

      <div class='artist'>
        <img src={{artist.picture}} alt='Artist Image' class='artist__image' />
        <h3 class='artist__name'>{{artist.name}}</h3>
        <p class='artist__footer'>
          <span>{{artist.nb_album}} Albums</span>
          &nbsp; &#x2022; &nbsp;
          <span> {{artist.nb_fan}} Fans</span>
        </p>
      </div>

    {{/each}}

  </div>

</GeneralContainer>

{{outlet}}