{{page-title 'Artist '}}

<GeneralContainer>

  <div class='detail'>

    <div class='detail__header'>
      <img src='/img/cover.jpg' alt='Cover image' class='detail__cover' />

      <div class='detail__info'>
        <h2 class='detail__name'> {{@model.info.name}} </h2>
        <p class='detail__fans'>{{@model.info.nb_fan}} Fans</p>
      </div>

      <div class='tracks'>
        <h3>Top tracks</h3>

        {{#each @model.mappedTops as |track|}}
          <p class='track'>
            <span class='track__index'>{{track.index}}</span>
            <span class='track__title'>{{track.title_short}}</span>
            <span class='track__duration'>
              {{duration track.duration}}

            </span>
          </p>

        {{/each}}

      </div>

    </div>

    <h3 class='detail-album-title'>Albums</h3>

    <div class='albums'>

      {{#each @model.albums as |album|}}
        <div class='album'>
          <Image
            @big={{album.cover_big}}
            @medium={{album.cover_medium}}
            @small={{album.cover_small}}
            @cover={{album.cover}}
            @class='album__image'
            @alt='Album Image'
          />

          <h3 class='album__title'>{{album.title}} </h3>
          <p class='album__year'>{{album.release_date}}</p>
        </div>

      {{/each}}

    </div>

  </div>
</GeneralContainer>
{{outlet}}