{{page-title 'Search'}}

<GeneralContainer>

  <div class='search'>
    <h3 class='search__header'>Seach results for : </h3>
    &nbsp; &nbsp;
    <span class='search__query'> {{@model.artistName}} </span>
  </div>

  <div class='artists'>

    {{#each @model.data as |artist|}}
      <LinkTo @route='detail' @model={{artist.id}} class='artist'>
        <img src={{artist.picture}} alt='Artist Image' class='artist__image' />
        <h3 class='artist__name'>{{artist.name}}</h3>
        <p class='artist__footer'>
          <span>{{artist.nb_album}} Albums</span>
          &nbsp; &#x2022; &nbsp;
          <span> {{artist.nb_fan}} Fans</span>
        </p>
      </LinkTo>
    {{/each}}

  </div>

</GeneralContainer>

{{outlet}}